# setting file for chatty

model:
  name: "124M"

chatty:
  params:
    user_tag: "Query"
    bot_tag: "Response"
    rolling_prompt: 2
    log_conversation: True
    fixed_first_round: null

news-feed-agent:
  params:
    reddit-topic: "news/hot"
    entries-limit: -1 # -1 for unlimited
    user-agent: "linux:examplenewsagent:v0.0.1 (by /u/unknown)"
